<!doctype html>

<html lang='en'>
<head>
  <title>Get Your D3 Heroes</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
    <script src='js/get.js'></script>
</head>

<body>
  <div id="content">
    <h1>D3 Hero List</h1>
    <div id="form">
      <p>Enter your battleTag</p>
      <input id='formtext' type='text'></input>
      <button id='submit'>Submit</button>
    </div> <!-- form -->
    <div id="form2">
        <form method="post" action="/">
          <input type="text" name="user[battletag]">
          <input type="submit" value="Submit">
        </form>
    </div> <!-- form2 -->
  </div> <!-- content -->

</body>

</html>